@import '../../styles/abstracts/abstracts.scss';

.box {
    max-width: 100%;
    width: 40rem;
    margin: 10rem auto 2rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: $blue;
}

.question {
    margin-bottom: 3rem;
}

.punchline {font-weight: 400;}