*, *::after, *::before {padding: 0; margin: 0; box-sizing: inherit;}

body {
    background-color: $black;
    min-height: 100vh;
    box-sizing: border-box;
}

button {background: none; border: none;}

.App {
    overflow-x: hidden;
}